<div id="<%= dom_id quiz %>">
  <p>
    <strong>Title:</strong>
    <%= quiz.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= quiz.description %>
  </p>

  <h3>Questions</h3>
  <%= link_to 'Add question', new_quiz_question_path(@quiz) %>
  <ol>
    <% quiz.questions.each do |question| %>
      <li><%= question.question_text %></li>
    <% end %>
  </ol>
</div>
