<div id="<%= dom_id(@quiz) %>" class="overflow-x-auto rounded-lg border border-gray-200 p-4 bg-white shadow-lg">
  <p class="text-2xl font-bold text-gray-900 mb-4">
    <strong>Title:</strong> <%= @quiz.title %>
  </p>

  <p class="text-gray-700 mb-6">
    <strong>Description:</strong> <%= @quiz.description %>
  </p>

  <h3 class="text-xl font-semibold text-gray-900 mb-4">Questions</h3>

  <%= form_with url: submit_quiz_path(@quiz), method: :post, local: true do |f| %>
    <table id="questions" class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
      <thead class="text-left">
        <tr>
          <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Question</th>
          <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Your Answer</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        <% @questions.each do |question| %>
          <tr>
            <td class="whitespace-normal break-words max-w-xs px-4 py-2 text-gray-700"><%= question.question_text %></td>
            <td class="whitespace-normal break-words max-w-xs px-4 py-2 text-gray-700">
              <% question.answers.each do |answer| %>
                <div class="mb-2">
                  <%= f.check_box "answers[#{question.id}][]", { id: dom_id(answer), class: 'mr-2' }, answer.id %>
                  <%= f.label dom_id(answer), answer.answer_text, class: 'text-gray-900' %>                
                </div>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    <div class="mt-6">
      <%= f.submit "Submit Quiz", class: 'inline-block rounded bg-indigo-600 px-4 py-2 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring active:bg-indigo-500' %>
    </div>
  <% end %>
</div>
<div class="text-left mt-6 mb-6">
<%= link_to 'Back to My Quizzes', quizzes_path, class: 'inline-block rounded bg-gray-600 px-5 py-3 text-sm font-medium text-white hover:bg-gray-700 focus:outline-none focus:ring active:bg-gray-500' %>
</div>