<div class="container mx-auto px-4 py-8">
  <h1 class="text-3xl font-bold text-gray-900 mb-6"><%= @title %></h1>

  <ul class="space-y-6 mb-8">
    <% @quizzes.each do |quiz| %>
      <li class="border rounded-lg p-6 bg-white shadow-lg flex items-center justify-between">
        <div>
          <h2 class="text-xl font-semibold text-indigo-600 mb-2">
            <%= link_to quiz.title, fill_quiz_path(quiz), class: 'hover:underline' %>
          </h2>
          <p class="text-gray-700"><%= quiz.description %></p>
        </div>
        <div class="flex space-x-4">
          <%= link_to 'Start', fill_quiz_path(quiz), class: 'inline-block rounded bg-indigo-600 px-4 py-2 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring active:bg-indigo-500' %>
          <%= link_to 'Leaderboard', leaderboard_path(quiz_id: quiz.id), class: 'inline-block rounded bg-green-600 px-4 py-2 text-sm font-medium text-white hover:bg-green-700 focus:outline-none focus:ring active:bg-green-500' %>
        </div>
      </li>
    <% end %>
  </ul>

  <div class="text-left mt-6 mb-6">
    <%= link_to 'Back to My Quizzes', quizzes_path, class: 'inline-block rounded bg-gray-600 px-5 py-3 text-sm font-medium text-white hover:bg-gray-700 focus:outline-none focus:ring active:bg-gray-500' %>
  </div>
</div>

